---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="flex flex-wrap ml-10 mr-10">
  {posts.map((post, index) => (
    <div key={index} class="w-full md:w-1/2 lg:w-1/2 xl:w-1/2 mb-12 ">
      <li>
        <Item post={post} />
      </li>
    </div>
  ))}
</ul>


